/* Variables */
:root {
    --accent: #0e7490;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --rose-700: #be123c;
    --slate-50: #f8fafc;
    --slate-200: #e2e8f0;
    --slate-800: #1e293b;
}

/* Utility Classes */



/* Universal Styles */

body {
    color: var(--slate-800);
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}

h1 {
    font-size: 1.65rem;
    font-weight: normal;
    align-self: center;
}

svg {
    width: 25px;
    height: 25px;
}

a {
    display: flex;
    gap: 1rem;
    position: relative;
    text-decoration: none;
    margin: 2rem 0;
    align-items: center;
}

a:hover {
    color: var(--accent);
}

/* Header Styles */

header {
    background-color: var(--slate-50);
    border-bottom: 1px solid var(--slate-200);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
}

.notification {
    color: white;
    background-color: var(--rose-700);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    line-height: 1rem;
    font-size: 1rem;
    position: absolute;
    left: 12px;
    top: -6px;
    padding-top: 3px;
}

/* Media Query */

@media screen and (min-width: 1200px) {
    .inner-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        gap: 2rem;
    }
}